.social__login
  button.social__login-github
    span
      i.fab.fa-github
      |&nbsp;Continue with Github
  button.social__login-facebook
    span
      i.fab.fa-facebook
      |&nbsp;Continue witdh Facebook
      