extends layouts/main
include mixins/videoBlock

block content
  .search-header
    h1 Searching for: #{searchingBy}
  .search-videos
    if videos.length === 0
      h5 Not Search Found
    each item in videos
      +videoBlock({
        title: item.title,
        videoFile: item.fileURL,
        view: item.views,
        id: item.id
      })