extends layouts/main
include mixins/videoBlock

block content
  .search-header
    h1 Searching for: #{searchingBy}
  .search-videos
    each item in videos
      +videoBlock({
        title: item.title,
        videoFile: item.videoFile,
        view: item.views
      })