.videoPlayer {
  position: relative;
  &:hover .videoPlayer__controls {
    opacity: 1;
  }
  .videoPlayer__controls {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 15px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    .videoPlayer__column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      &:nth-child(1) {
        justify-self: left;
        span {
          &:first-child {
            margin-right: 15px;
          }
          &.videoPlayer__volume:hover .videoPlayer__volume__range {
            opacity: 1;
          }
          .videoPlayer__volume__range {
            position: absolute;
            top: -76px;
            left: -42px;
            padding: 0px 10px;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            -webkit-transition: opacity 0.3s linear;
            transition: opacity 0.3s linear;
            z-index: 10;
            width: 119px;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
          }
        }
      }
      &:last-child {
        justify-self: end;
      }
      span {
        color: $white;
        font-size: 18px;
        &:first-of-type {
          margin-right: 10px;
          padding: 15.5px 0px;
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
}